{% block content %}
<details class="computer-use-section">
  <summary><span class="material-icons">computer</span> Computer Use VM</summary>
  <computer-use-viewer></computer-use-viewer>
</details>
{% endblock %}

